@keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .marquee {
    @apply overflow-hidden whitespace-nowrap;
    animation: marquee 10s linear infinite;
  }
  