# public-hoist-pattern[]=*@nextui-org/*
# If you are using pnpm, you need to add the following line to your .npmrc file to hoist our packages to the root node_modules.
public-hoist-pattern[]=*@heroui/*